@model IEnumerable<AutomotivePartsAdministration.automotiveparts.Vehicle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table-responsive-sm small">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineOilCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchVehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleEngine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleManufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineOilCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchVehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleCategory.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleEngine.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleManufacturer.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleModel.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.CreatedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
